.section__texts {
  text-align: center;
}

.section__texts .section__title {
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 0.9rem;
  color: #252B42;
}

.section__texts .section__subtitle {
  margin-top: 2rem;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.75em;
  width: 90%;
  margin: 0 auto;
  color: #374754;
}

@media (min-width: 900px) {
  .section__texts .section__subtitle {
    width: 35%;
    min-width: 35rem;
  }
}
